name: Metrics
on:
  schedule:
    - cron: "0 * * * *"
  push: {branches: ["main"]}
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Metrics
        uses: AjmalShajahan/metrics@test
        with:
          filename: metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          plugin_isocalendar: yes
          plugin_languages: yes
          plugin_languages_details: lines, percentage
          plugin_languages_sections: most-used, recently-used
          plugin_languages_indepth: yes
          commits_authoring: Stevi N, firefly3823
          plugin_languages_limit: 10
          plugin_languages_recent_days: 7
          plugin_languages_recent_load: 1000
          plugin_lines: yes
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 7
          plugin_wakatime_sections: time, languages, languages-graphs, editors, os
          plugin_wakatime_limit: 4
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: .user.login
          output_action: pull-request-squash
